@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Passion+One&family=Roboto&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&family=Passion+One&family=Roboto&family=Sriracha&display=swap');

:root {
    --fonte1: 'Fira Sans', sans-serif;
    --fonte2: 'Fira Code', monospace; 
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #07011A;
}



h1 {
    font-family: var(--fonte1);
    color:white;
}


.nome {
    color: white;
    font-family: var(--fonte2);
    font-size: 36px;  
    display: flex;
    margin-left: 120px;
    margin-top: 30px;
    
    
}

.botoes {
    display: flex;
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    
    
}


.botoes a {
    margin: 50px;
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
    font-size: 20px;
    border-bottom-color: 2px solid transparent;
 
}


.animation {
    position: relative;
    text-decoration: none;
}

.animation::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #B78BFF;
    transition: width 0.5s ease-in-out;
}

.animation:hover::after {
    width: 100%;
}


ul {
    list-style: none;
    
}

main > h1 {
    font-size: 60px;
}

main > p {
    color:white;
    font-family: var(--fonte2);
    font-size: 24px;
    padding-top: 31px;
    
}

.texto {
    margin-left: 120px;
    margin-top: 200px;
}


#containermain {
    display: flex;
}

#imagem {
    background: cover no-repeat;
    display: flex;
    width: 400px;
    height: 446px;
    float: right;
    border-radius: 13px;
    margin-right: 80px;
    margin-top: 50px;
   
}

.texto-colorido {
    color: #AFB137;
    display: inline;
    font-family: var(--fonte2);
    font-size: 24px;
}

#texto-colorido2 {
    color: #B78BFF;
    font-family: var(--fonte2);
    font-size: 24px;
}

